<!DOCTYPE html>
<html>
<head>
  <title>MyTop5</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h2 class="masthead-brand" style="font-family: 'Poiret One', cursive;"><%= image_tag "music_icon3.png" %>Heather's Favorite Grooves</h1>


              <nav>
                <ul class="nav masthead-nav">
                  <li><%= link_to "Top 5", root_path %></li>
                  <li><%= link_to "Artist", artists_path %></li>
                  <li><%= link_to "Songs", songs_path %> </li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <%= yield %>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Groove To The Beat Of My Music &copy; 2016</p>
            </div>
          </div>

        </div>

      </div>

    </div>









</body>
</html>
